<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserInformation</title>
</head>
<body>
    <ul>
        <% users.forEach(user=> { %>
            <li>
                Name: <%= user.name %>
                    Age: <%= user.age %>
                        Email: <%= user.email %>
                            <% if (user.age < 30) { %>
                                <span class="young">(Young)</span>
                                <% } else { %>
                                    <span class="adult">(Adult)</span>
                                    <% } %>
            </li>
            <% }); %>
    </ul>
    <form action="/createUser" method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="number" name="age" placeholder="Age" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit">Add User Information</button>
    </form>
</body>
</html>